body{
    background-color: antiquewhite;
}

input
{
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    border:none;
    resize: none;
    font-size: medium;
}
p
{
   
}
.outerbox
{
    display: flex;
    justify-content: center;
    width:fit-content;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.innerbox
{
    width: fit-content;
    border-radius: 15px;
    display: grid;
    justify-items: auto;
    padding: 10px;
    background-color: rgb(170, 170, 170);
}

.clacbtn
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.displayvalue
{
    max-width: 200px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
